.navbar{
    background-color: white;
    padding: 3px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #E2E8F0;
}

.navbar .navbar-logo img {
    width: 50px;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    list-style: none;
}

.navbar .navbar-nav span {
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
    color: black;
    font-size: 1.25em;
    cursor: pointer;
}

.navbar span.icon {
    display: none;
    font-size: 2em;
}

.navbar .navbar-nav span:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

    .navbar span.icon {display: block;}

    .navbar .navbar-nav span {
        padding: 10px 0;
        width: 100%;
    }

    .navbar .navbar-nav {
        display: none;
    }

    .navbar .navbar-nav.show {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}