header {
    /* background-color: rgb(36, 40, 47); */
    background-color: white;
}

header .menu {
    width: 100%;
    font-size: 2em;
    color: black;
    text-align: center;
    padding: 15px;
}